/* @font-face {
  src: url(https://fonts.google.com/?subset=korean&selection.family=Sunflower:300);
  font-family: 'Sunflower', sans-serif;
  
  font-weight: 200;
  font-style: normal;
} */
h1{
  color : #ffbf3e;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-shadow: 4px 2px 2px black;
  margin-top: 2em;
  font-size: 3em;
}

p{
  color: black; 
  text-align: center;   
  font-size: 2em;
  width: auto;
  font-family: 'sunflower', sans-serif;
}

div{
  border: #ffbf3e 3px solid;
  border-radius: 10px;
  height: 20em;
  
}

.wrap { float: left; padding: 10px; width: 50%; }


@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);

  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
    -webkit-transition: 250ms all;
    transition: 250ms all;
  }
  
  .menu-opener {
    cursor: pointer;
    height: 43px;
    position: absolute;
    top: 1.5%;
    left: 1%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 43px;
  }
  .menu-opener:hover, .menu-opener.active {
    background: white;
    border: 0.13em solid #ffbf3e;
  }
  
  .menu-opener-inner {
    background: #ffbf3e;
    height: .35rem;
    margin-left: .5rem;
    margin-top: 1.3rem;
    width: 1.5rem;
  }
  .menu-opener-inner::before, .menu-opener-inner::after {
    background:#ffbf3e;
    content: '';
    display: block;
    height: .35rem;
    width: 1.5rem;
  }
  .menu-opener-inner::before {
    -webkit-transform: translateY(-0.6rem);
    -ms-transform: translateY(-0.6rem);
    transform: translateY(-0.6rem);
  }
  .menu-opener-inner::after {
    -webkit-transform: translateY(0.17rem);
    -ms-transform: translateY(0.17rem);
    transform: translateY(0.17rem);
  }
  .menu-opener-inner.active {
    background: transparent;
  }
  .menu-opener-inner.active::before {
    -webkit-transform: translateY(0rem) rotate(-45deg);
    -ms-transform: translateY(0rem) rotate(-45deg);
    transform: translateY(0rem) rotate(-45deg);
  }
  .menu-opener-inner.active::after {
    -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  }
  .menu.active{
    border: 0.13em solid #ffbf3e;
  }
  
  .menu {
    background:transparent;
    color: transparent;
    height: 43px;
    position: absolute;
    top: 1.5%;
    left: 1%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 0rem;
    z-index: -1;
  }
  .menu.active {
    width: -webkit-calc(100%/2);
    width: calc(100%/2);
  }
  .menu.active .menu-link {
    color:#da9c21;
  }
  
  .menu-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 75%;
    list-style-type: none;
    margin: auto;
    margin-left: 4rem;
    padding: auto;
  }
  
  .menu-link {
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 1.3rem;
    height: 75%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-top: auto;
  }
  .menu-link li {
    margin: auto;
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      height: auto;
    }
    .menu-inner {
      display: block;
    }
    .menu-link {
      padding: 6px 0;
      font-size: 1em;
    }
    .menu.active {
      width: -webkit-calc(100%/1.5);
      width: calc(100%/1.5);
    }
  }

  input[type="number"]{
    height: auto;
    padding: .8em .5em;
  }