{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATE</title>
    <link rel="stylesheet" type="text/css" href="../static/css/date.css">
</head>
<body>
    <!--menu bar-->
    <nav class="menu-opener">
        <div class="menu-opener-inner"></div>
    </nav>
    <nav class="menu">
        <ul class="menu-inner">
          <a href="{% url 'home' %}" class="menu-link">
            <li>HOME</li>
          </a>
          <a href="{% url 'unit' %}" class="menu-link">
            <li>UNIT</li>
          </a>
        </ul>
    </nav>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="menu-opener.js"></script>
  
    <!--menu bar end-->


    <!-- <br>
        <input type="text" id="CurrentYear" value="test" onclick="SetCurrentYear()">
        -->

    <h1>DATE</h1>
    <p>
        <label>서기: </label>
        <input id="InputAD" type="number" placeholder="서기" onfocus="SetCurrentYear()"
        oninput="AfterDieToBuddhist(this.value); AfterDieToDanki(this.value);" onchange="AfterDieToBuddhist(this.value); AfterDieToDanki(this.value);">
    </p>
    <label>불기: <span id="OutputBuddhist"></span>년</p></label>
    <label>단기: <span id="OutputDanki"></span>년</p></label>

    <script type="text/javascript" src="../static/js/date.js"></script>
</body>
</html>