{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    
</head>
<body>
    <h1><span style="color:#ffd071">EASY</span> <span style="color:#f0776c">CONVERT</span></h1>
    <nav>
        <ul>
          <li><a href="{%url 'date'%}">DATE</a></li>
          <li><a href="{%url 'unit'%}">UNIT</a></li>
        </ul>
      </nav>
</body>
</html>