{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LENGTH</title>
    <link rel="stylesheet" type="text/css" href="../static/css/length.css">
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav class="menu-opener">
      <div class="menu-opener-inner"></div>
    </nav>
    <nav class="menu">
      <ul class="menu-inner">
        <a href="{% url 'home' %}" class="menu-link">
          <li>HOME</li>
        </a>
        <a href="{% url 'date' %}" class="menu-link">
          <li>DATE</li>
        </a>
        <a href="{% url 'unit' %}" class="menu-link">
            <li>UNIT</li>
        </a>
      </ul>
    </nav>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <!-- <script type="text/javascript" src="../static/js/length.js."></script> -->
    <script src="menu-opener.js"></script>

    <h1>LENGTH</h1>
<br><br>
<form method="post">
  <div class="wrap">
    <br><br><br><br><br><br><br><br><br><br><p><label>센치미터(cm) : </label>
    <input id="inputcm" type="number" placeholder="cm" 
    oninput="Convert_in(this.value); Convert_ft(this.value); Convert_yd(this.value); Convert_ch(this.value); Convert_fur(this.value); Convert_mile(this.value); Convert_lea(this.value); " 
    onchange="Convert_in(this.value);Convert_ft(this.value); Convert_yd(this.value); Convert_ch(this.value); Convert_fur(this.value); Convert_mile(this.value); Convert_lea(this.value); " >
    </p><br><br><br><br><br><br><br><br><br><br>
    
  </div>
</form>
<div class="wrap"><br>
  <p><label for="in">인치(in) : <span id="outputin"></span></p></label>
  <p><label for="ft">피트(ft) : <span id="outputft"></span></p></label>
  <p><label for="yd">야드(yd) : <span id="outputyd"></span></p></label>
  <p><label for="ch">체인(ch) : <span id="outputch"></span></p></label>
  <p><label for="fur">펄롱(fur) : <span id="outputfur"></span></p></label>
  <p><label for="mile">마일(mile) : <span id="outputmile"></span></p></label>
  <p><label for="lea">리그(lea) : <span id="outputlea"></span></p></label>
</div>

<script type="text/javascript" src="../static/js/length.js"></script>

</body>
</html>