{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LENGTH</title>
    <link rel="stylesheet" type="text/css" href="../static/css/length.css">
</head>
<body>
    <nav class="menu-opener">
      <div class="menu-opener-inner"></div>
    </nav>
    <nav class="menu">
      <ul class="menu-inner">
        <a href="{% url 'home' %}" class="menu-link">
          <li>HOME</li>
        </a>
        <a href="{% url 'date' %}" class="menu-link">
          <li>DATE</li>
        </a>
        <a href="{% url 'unit' %}" class="menu-link">
            <li>UNIT</li>
        </a>
      </ul>
    </nav>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../static/js/length.js."></script>
    <script src="menu-opener.js"></script>

    <h1>LENGTH</h1>
<br><br>
<form method="post">
  <div>
    <label>센치미터(cm):</label>
    <input id="inputcm" type="number" placeholder="cm">
    
  </div>
</form>
<div>
  <p><label for="ft"><span id="outputft"></span>피트(ft)</p></label>
  <p><label for="yd"><span id="outputyd"></span>야드(yd)</p></label>
  <p><label for="ch"><span id="outputch"></span>체인(ch)</p></label>
  <p><label for="fur"><span id="outputfur"></span>펄롱(fur)</p></label>
  <p><label for="mile"><span id="outputmile"></span>마일(mile)</p></label>
  <p><label for="lea"><span id="outputlea"></span>리그(lea)</p></label>
</div>

    
    
</body>
</html>