{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOLUME</title>
    <link rel="stylesheet" type="text/css" href="../static/css/volume.css">
</head>
<body>
    <nav class="menu-opener">
        <div class="menu-opener-inner"></div>
      </nav>
      <nav class="menu">
        <ul class="menu-inner">
          <a href="{% url 'home' %}" class="menu-link">
            <li>HOME</li>
          </a>
          <a href="{% url 'date' %}" class="menu-link">
            <li>DATE</li>
          </a>
          <a href="{% url 'unit' %}" class="menu-link">
              <li>UNIT</li>
          </a>
        </ul>
      </nav>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
      <script type="text/javascript" src="../static/js/volume.js."></script>
      <script src="menu-opener.js"></script>
  
    <h1>VOLUME</h1>
    <br><br>
    <div>
      <p><label>리터(L)) : </label>
      <input id="inputcup" type="number" placeholder="L"
      oninput=" Convert_pt(this.value); Convert_qt(this.value); Convert_gal(this.value); " 
    onchange="Convert_pt(this.value); Convert_qt(this.value); Convert_gal(this.value); ">
    </p>
      
    </div>
  </form>
  <div>
    <p><label for="pt">파인트(pt) : <span id="outputpt"></span></p></label>
    <p><label for="qt">쿼트(qt) : <span id="outputqt"></span></p></label>
    <p><label for="gal">갤런(gal) : <span id="outputgal"></span></p></label>
  </div>
  <script type="text/javascript" src="../static/js/volume.js"></script>
</body>
</html>