{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEIGHT</title>
    <link rel="stylesheet" type="text/css" href="../static/css/weight.css">
</head>
<body>
    <nav class="menu-opener">
        <div class="menu-opener-inner"></div>
      </nav>
      <nav class="menu">
        <ul class="menu-inner">
          <a href="{% url 'home' %}" class="menu-link">
            <li>HOME</li>
          </a>
          <a href="{% url 'date' %}" class="menu-link">
            <li>DATE</li>
          </a>
          <a href="{% url 'unit' %}" class="menu-link">
              <li>UNIT</li>
          </a>
        </ul>
      </nav>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
      <script type="text/javascript" src="../static/js/weight.js."></script>
      <script src="menu-opener.js"></script>
  
    <h1>WEIGHT</h1>
    <br><br>
    <div>
      <label>그램(g) : </label>
      <input id="inputg" type="number" placeholder="g"
      oninput="Convert_oz(this.value); Convert_lb(this.value); Convert_st(this.value); Convert_qtr(this.value); " 
    onchange="Convert_oz(this.value); Convert_lb(this.value); Convert_st(this.value); Convert_qtr(this.value); ">
      
    </div>
  </form>
  <div>
    <p><label for="oz">온스(oz) : <span id="outputoz"></span></p></label>
    <p><label for="lb">파운드(lb) : <span id="outputlb"></span></p></label>
    <p><label for="st">스톤(st) : <span id="outputst"></span></p></label>
    <p><label for="qtr">쿼터(qtr) : <span id="outputqtr"></span></p></label>
  </div>
  <script type="text/javascript" src="../static/js/weight.js"></script>
</body>
</html>